* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #053742;
}
 
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
 
.Tabs {
  width:100%;
  height: auto;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
 
}
 
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
 
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
ul.nav li.selected {
  background: #39A2DB;
}
 
.TabContent {
  font-size: 2rem;
  text-align: center;
}

.health-tracker-header{
  color: #39A2DB;
  font-family:'Courier New', Courier, monospace "Times New Roman";
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
  border: 0px;
  padding: 0px;
  margin-top: 50px;
}

.barchart{
position: absolute;
left: 15%;
top: 35%;
margin: 1%;
}

.piechart{
  position: absolute;
left: 53%;
top: 35%;
margin: 1%;
}

.linechart{
  position: absolute;
left: 35%;
top: 35%;
}

.grid-container{
  line-height: 2;
  border: 1px solid #ddd;
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0;
  top: 30%;
  right: 15%;
}

.grid-cell{
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.add-food-component-container{
  align-items: center;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  left: 46%;
  top: 30%;
  border: 1px solid #ddd;
  overflow: visible;
}

.form-container{
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2;
  display: grid;
  grid-template-columns: 1fr;
  width: 200px;
}

.add-food-button{
  margin: 20px;
  padding: 10px;
  width: 100px;
  height: 50px;
  color: white;
}

.call-api-component-form-container{
  align-items: center;
  margin: 0;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow:visible;
  position: absolute;
  left: 22%;
  top: 30%;
  display: flex;
  border: 1px solid #ddd;
}

.call-api-component-button{
  margin: 20px;
  padding: 10px;
  width: 100px;
  height: 50px;
  color: white;
}

.delete-and-edit-food-button{
  color: white;
}

.add-or-edit{
  text-align: center;
  border: 1px solid #ddd;
  position: absolute;
  right: 0px;
  top: -70px;
  color: white;
  font: bold;
  font-size: 30px;
  margin: 0;
  border: 0;
  padding: 0px;
  width: 100%;
}

.loginButton{
  color: white;
  font-family:'Courier New', Courier, monospace "Times New Roman";
  text-align: center;
  font-size: 20px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 50px;
  right: 5%;
  border-color: white;
  border: 2px solid black;
}

.logoutButton{
  color: white;
  font-family:'Courier New', Courier, monospace "Times New Roman";
  text-align: center;
  font-size: 20px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 50px;
  right: 5%;
  border-color: white;
  border: 2px solid black;
}

.profileInfo{
  color: white;
  text-align: center;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 50px;
  left: 5%;
}

.gridComponent-title{
  text-align: center;
  border: 1px solid #ddd;
  position: absolute;
  right: 0px;
  top: -70px;
  color: white;
  font: bold;
  font-size: 30px;
  margin: 0;
  border: 0;
  padding: 0px;
  width: 100%;
}

.callApiComponent-title{
  text-align: center;
  border: 1px solid #ddd;
  position: absolute;
  right: 0px;
  top: -70px;
  overflow: visible;
  color: white;
  font: bold;
  font-size: 30px;
  margin: 0;
  border: 0;
  padding: 0px;
  width: 100%;
}

.call-api-component-container{
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.loading-consequence{
  text-align: center;
  border: 1px solid #ddd;
  position: absolute;
  right: 0px;
  bottom: -70px;
  overflow: visible;
  color: white;
  font: bold;
  font-size: 30px;
  margin: 0;
  border: 0;
  padding: 0px;
  width: 100%;
}