* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #053742;
}
 
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
 
.Tabs {
  width:100%;
  height: auto;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
 
}
 
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
 
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
ul.nav li.selected {
  background: #39A2DB;
}
 
.TabContent {
  font-size: 2rem;
  text-align: center;
}

.health-tracker-header{
  color: #39A2DB;
  font-family:'Courier New', Courier, monospace "Times New Roman";
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
  border: 0px;
  padding: 0px;
  margin-top: 50px;
}

.barchart{
position: absolute;
margin-left: 10%;
margin-top: 8%;
}

.piechart{
  position: absolute;
margin-left: 50%;
margin-top: 8%;
}

.linechart{
  position: absolute;
margin-left: 25%;
margin-top: 5%;
}

.grid-container{
  line-height: 2;
  border: 1px solid #ddd;
  position: absolute;
  
  margin: 0;
  border: 0;
  padding: 0;
  top: 400px;
  right: 400px;
}

.grid-cell{
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.add-food-component-container{
  align-items: center;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  right: 1200px;
  top: 400px;
  display: flex;
  border: 1px solid #ddd;
}

.form-container{
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2;
  display: grid;
  grid-template-columns: 1fr;
  width: 200px;
}

.add-food-button{
  margin: 20px;
  padding: 10px;
  width: 100px;
  height: 50px;
  color: white;
}

.call-api-component-form-container{
  align-items: center;
  margin: 0;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  right: 1500px;
  top: 400px;
  display: flex;
  border: 1px solid #ddd;
}

.call-api-component-button{
  margin: 20px;
  padding: 10px;
  width: 100px;
  height: 50px;
  color: white;
}